<!DOCTYPE html>
<html>
<head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
  <title>{% block title %}{% endblock %}</title>
<body class="p-1 bg-light">
<div class="container-fluid">
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"">Rumi Press Expense Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" href="/">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
        <div class="btn-group">
            <div class="btn-group dropstart" role="group">
                <button type="button" class="btn btn-light dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">{{user.username}}
                </button>
                <ul class="dropdown-menu dropdown-menu-secondary">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </ul>


        </div>
        </div>

    </div>
  </div>
</nav>
</div>
<h1 class="container p-3 display-6 p-3 text-center text-secondary">{% block page_title %}
  {% endblock %}
</h1>

      <div class="p-3"> {% block content %}
       {% endblock %}</div>

</body>
</html>