<!DOCTYPE html>
<html>
<head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
  <title>{% block title %}{% endblock %}</title>
<body class="p-1 bg-light">
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"">Rumi Press Expense Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" href="/">Report</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/categories">Categories</a>
          </li>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Sign out</a></li>
            <li><a class="dropdown-item" href="#">Something Else</a></li>
            </ul>
            </div>
    </div>
  </div>
</nav>
</div>
<h1 class="container p-3 display-6 p-3 text-center text-secondary">{% block page_title %}
  {% endblock %}
</h1>
      <div class="p-3"> {% block content %}
       {% endblock %}</div>
</body>
</html>