<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% extends "base.html" %}
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% block page_title %} Our Story {% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-md-8">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam beatae consectetur consequatur est et eum fugiat illum labore laudantium maiores molestiae quidem quisquam quo sapiente sint, sit suscipit <veritatis class="lorem"></veritatis>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque ducimus fugit impedit labore laudantium officiis sit, ut? Alias doloremque eligendi esse incidunt labore laboriosam neque quis rem sed voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet beatae cupiditate debitis dolorem dolores doloribus esse et explicabo incidunt minima molestiae nesciunt numquam, officiis quam saepe vero! Deleniti, quibusdam.</p>
            </div>
                <div class="col-md-4 order-first order-md-1">
                    <img src="{% static 'images/about_us.jpg' %}"
                         class="img-fluid rounded-3" alt="Our picture"></img>
                </div>
            </div>
    {% endblock %}
</body>
</html>